body {
	background-color: lightblue;
	text-align: center;
}

#mountpoint {
	margin: 0 auto;
	width: 50%;
}

.add-input {
	width: 50%;
	margin-left: 25%;
	display: block;
}

.add-button {
	width: 20%;
}

.submit-button {
	width: 20%;
}

.todo-item {
	text-align: center;
}
